<!DOCTYPE html>
<html>
<head>
  <title>MGGA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/stylesheet.css"/>
  <link rel="stylesheet" href="/styles/admin.css"/>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src="/app/admin.js"></script>


</head>

<body>
  <div="container hide">
      <div class="row">
        <div class="col s6 left flexDesign">
            <div class="content">
              <h2>Admin Page</h2>
            </div>
        </div>
        <div class="col s6 right flexDesign">
            <div class="content">
              <h2>Controlls</h2>
              <div class ="controlls">
                  <a class="waves-effect waves-light btn" id="btnReset">Reset</a>
              </div>
            </div>
        </div>
      </div>  
  </div>
</body>

</html>
